.articles-container {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background-secondary);
  &__list {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-gap: 1.6rem;
    padding: 2rem;
    list-style: none;
  }
}