@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
/*
--- TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);


--- WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  --color-primary: #1d4ed8; /* Primary color for your brand */
  --color-secondary: #e83e8c; /* Secondary color for your brand */

  /* Text colors */
  --text-primary: #020617; /* Main text color */
  --text-secondary: #0f172a; /* Secondary text, maybe for subtitles */
  --text-white: #fcfcfc;

  /* Background colors */
  --background-primary: #fafcfd; /* Main background color */
  --background-secondary: #fcfcfc; /* Secondary background or for sections */
  --background-dark: #020617;

  /* Grayscale for borders, shadows, etc. */
  --gray-dark: #374151;
  --gray: #6b7280;
  --gray-light: #e5e7eb;

  --highlight: #dbeafe;
  --border: #101920;

  --font-primary: 'Roboto', sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --border-radius-default: 3px;
  --border-radius-medium: 6px;
}

body {
  font-family: var(--font-secondary);
  line-height: 1;
  font-weight: 400;
  color: var(--text-secondary);
  background-color: var(--background-primary);
  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

.p1,
.p2,
.p3 {
  font-family: var(--font-secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  font-family: var(--font-primary);
}

.p1 {
  font-size: 1.6rem;
}
.p2 {
  font-size: 1.4rem;
}
.p3 {
  font-size: 1.2rem;
}
.p4 {
  font-size: 1rem;
}

h1 {
  font-size: 5.2rem;
}
h2 {
  font-size: 4.4rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 2rem;
}

@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}