
.notification {
  &__container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
    position: relative;

    &__popover {
      max-width: 28rem;
      background-color: var(--background-primary);
      border-radius: var(--border-radius-medium);
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.11);
      h6 {
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: .05rem;
        margin-top: 1.3rem;
        text-align: center;
        padding: 1.2rem 2rem;
        border-top-right-radius: var(--border-radius-default);
        border-top-left-radius: var(--border-radius-default);
        color: var(--text-white);
        background-color: var(--color-primary);
      }

      &__info {
        padding: 1.8rem 2rem;
        font-size: 1.4rem;
        color: var(--gray);
      }
    }
  }
  
  &__new-notification::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    animation: pulse 1.6s ease-in infinite;
  }
  
  &__icon {
    font-size: 2.4rem;
    color: var(--text-white);
    cursor: pointer;
    color: white;
    width: 2.8rem;
    height: 2.8rem;
  }
}

#react-tiny-popover-container {
  z-index: 5;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.253);
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.685);
    transform: scale(1.2);

  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 12px rgba(255, 0, 0, 0);
  }
}