.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-dark);
  z-index: 4;

  &__logo-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 1.6rem 0;
    &__logo {
      border-radius: 50px;
      height: 4.4rem;
    }
    &__title {
      color: white;
      font-size: 2.4rem;
    }
  }
  
  &__login-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

